.password-input-container {
  margin: 2rem 0;
}

.full-width {
  width: 100%;
}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

::ng-deep .mat-input-element {
  background-color: white !important;
  padding: 0.5rem !important;
}
